/* You can add global styles to this file, and also import other style files */
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
footer {
  position: fixed;
  height: 5%;
  bottom: 0;
  background-color: bisque;
  width: 100%;
}



.ck-editor__editable_inline {
  min-height: 10rem;
}
