<div *ngIf="customInput">
  <div class="form-group has-feedback">
    <input type="{{this.customInput?.type}}" class="form-control form-input" placeholder="{{this.customInput?.palceholder}}" [(ngModel)]="value"
      (ngModelChange)="setToTheForm()">
    <span class="glyphicon form-control-feedback">
      <span>
        <pre *ngIf="checkRequired()">{{this.require_err}}</pre>
        <pre *ngIf="checkPattern()">{{this.regexs_err}}</pre>
        <pre *ngIf="checkCustom()">{{this.custom_err}}</pre>
      </span>
    </span>
  </div>
</div>
