<div class="container loginForm">
  <h2>{{formSetting.formTitle}}</h2>
  <br>
  <form>
    <div *ngFor="let input of formSetting.customInputArray">
      <app-custom-input [customInput]="input" [service] = "this.customFormService"></app-custom-input>
    </div>
    <div *ngIf="!this.customFormService.isFormValid()">
      <button id="requiredMsg" type="submit" class="btn btn-default submit"
        [disabled]="true">{{formSetting.formBtn.unvalid}}</button>
    </div>
    <div *ngIf="this.customFormService.isFormValid()">
      <button type="submit" class="btn btn-default submit" [disabled]="!this.customFormService.isFormValid()"
        (click)="customClick()">{{formSetting.formBtn.valid}}</button>
    </div>
  </form>
