<table class="table caption-top">
  <caption>the basic info</caption>
  <tbody>
    <tr>
      <th scope="row">公司代號</th>
      <td>{{code}}</td>
    </tr>
    <tr>
      <th scope="row">公司名稱</th>
      <td>{{name}}</td>
    </tr>
    <tr>
      <th scope="row">上市日期</th>
      <td>{{publishDate}}</td>
    </tr>
    <tr>
      <th scope="row">實收資本額</th>
      <td>{{paidInCapital}}</td>
    </tr>
    <tr>
      <th scope="row">董事長</th>
      <td>{{chairman}}</td>
    </tr>
    <tr>
      <th scope="row">總經理</th>
      <td>{{manager}}</td>
    </tr>
    <tr>
      <th scope="row">住址</th>
      <td>{{address}}</td>
    </tr>
    <tr>
      <th scope="row">網址</th>
      <td>{{url}}</td>
    </tr>
  </tbody>
</table>
